# Telegram Bot Sozlamalari
BOT_TOKEN=Sizning_Bot_Tokeningiz
ADMIN_ID=Sizning_Admin_IDingiz

# MongoDB Ulanish Sozlamalari
MONGO_URI=mongodb://127.0.0.1:27017/english_pro_bot

# Majburiy Obuna Kanal Sozlamalari
# DIQQAT: Kanal ID telegram kanallar uchun odatda -100 bilan boshlanadi (masalan: -100123456789)
CHANNEL_ID=Sizning_Kanal_IDingiz
CHANNEL_URL=https://t.me/your_channel
